
@{
    ViewBag.Title = "se";
}

<h2>Search</h2>
<table class="table">
    <tr>
        <th> eventName</th>
        <th> description</th>
        <th> location</th>
        <th> date</th>
        <th> ticketFee</th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td> @i.eventName </td>
            <td> @i.description </td>
            <td> @i.location</td>
            <td> @i.date </td>
            <td> @i.ticketFee </td>
        </tr>
    }
</table>

